*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}



nav{
    display:none;
    grid-template-columns: 15% 25% 15% 15% 15% 15%;
    padding: 20px 15px;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color:#8c2600;
    border-bottom: 1px solid lightgray;

    #logo {
        padding-left: 200px;
        font-size: 26px;
        font-weight: 700;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        letter-spacing: 5px;
        transition: 0.2s;

        hr {
            width: 80px;
        }

        

        




    }
}

#banner {
    div{
        width: 500px;
        height: 100vh;
        background-color:#7a1600;
    }

    img {
        position: fixed;
        
        bottom: 0;
        right: 0;
        // width: 200px;
        background-color: white;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}